
<h1>Ilia's About</h1>
	<p> I made this site as a project for 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		class, which I am using to learn
  		<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  	</p>
