<div class="hero-unit">
  <h1>All The Little Things...</h1>
  <p>A space for celebrating aesthetics</p>
  <p>
    <a class="btn btn-primary btn-large">
      Enjoy
    </a>
  </p>
</div>
<div class="row-fluid">
  <div class="span4">	
  
  	<h1>Welcome To My First Website!!</h1>
  
  </div>
  <div class="span8">
  
  	<h2>Test sub catagory </h2>
		<p>I hope you like
	  <%= link_to "Ilia's Facebook Page","http://www.facebook.com/korbanda11as?ref=tn_tnmn" %>
		</p>
		<p>Here is his favorite site
	  <%= link_to "DPM","http://www.dpmclimbing.com/" %>
	 	</p>
	
	</div>
	
</div>
